.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}



textarea , input , select{
  width: 100%;
  border: none;
  border-radius: 10px;
  /* margin: 10px; */

}

label{
  margin-left: 20px;

}

input{
  box-sizing: border-box;
}

input::placeholder , textarea::placeholder{
  color: rgba(128, 128, 128, 0.497);
}


.contact-form{
  max-width: 60vw;
}

@media (max-width:768px){
  .contact-form{
    max-width: 100vw;
  }
}