@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=M+PLUS+1+Code:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica Neue');

*{
    font-family: 'roboto','open sans';
}
/* @font-face {
    font-family: helvetica-neue;
    src: url(../assets/fonts/helvetica-neue-5/HelveticaNeueHeavy.otf);
  } */

body{
  background-color: #f1f1f1;
}
.home{
    height: max-content;
}
.home .container{
    max-width: 800px;
    /* height: 100vh; */
}
.home .container>div{
    max-width: 800px;
    
}

.heroheader h2{
    font-size: 3rem;
    font-weight: 700;
    /* max-width: 800px; */
    font-family: 'helvetica neue','roboto';
}
.why{
  background-color: #ffffff;
}

.why h2{
    font-size: 3rem;
    font-weight: 700;
    /* max-width: 800px; */
    font-family: 'helvetica neue','roboto';
}
/* .section-brief{
    position: relative;
}
.section-brief>div{
    position: absolute;
    left: 300px;
    top: -100px;
  } */
.section-brief-subpoints ul {
    list-style: none;
    /* position: absolute;
    left: -30px; */ }
  /*
.section-cards{
    column-count: 2 !important;
    columns: 270px;
}

.section-cards .card{
    width: 250px;
    margin: 50px 10px;
    border-radius: 16px;
    background-color: #0d6efd;
    color: #ffffff;
}
.section-cards .card .border{
    border: 1px solid black;
    border-radius: 12px;
    background-color:#ffffff ;
} */


.section-cards{
    column-count: 2 !important;
    columns: 270px;
}

.section-cards .card{
    width: 250px;
    margin: 50px 10px;
    border-radius: 16px;
    background-color: #0d6efd;
    color: #ffffff;
}
.section-cards .card .border{
    border: 1px solid black;
    border-radius: 12px;
    background-color:#ffffff ;
}
.section-cards2{
    display: none;
}
.section-brief2{
    display: none;
}

.feature{
    background-color: #f2f2f2;
    height: max-content;
    color:rgb(20, 20, 20);
    justify-content: center;
    align-items: center;

   
}

.featuresIcon{
    fill: #0d6efd;
    width: 28px;
    height: 28px;
}


.grid{
    display: grid;
    
}

.featurecards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    padding: 20px;
    margin: 30px;
    gap: 20px;
}
.section-key-images{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .section-key-images img{
    border-radius: 40px;
    margin: 0px;
  }
  .img1{
    rotate: -10deg;
    z-index: 1;
  }
  .img2{
    rotate: 10deg;
  }


  
  .left-image img{
    height: 35rem;
    width: 25rem;
    object-fit: cover;
    border-radius: 2.5rem;
    margin-right: 10rem;
  }

  .numericals{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
  }
  .right-content{
    width: 25rem;
  }
  .right-content .numerical{
    display: flex;
    justify-content: space-between;
  }


.featurecard{
    background-color: #ffffff;
    color: #4f7ce4;
    padding: 20px;
    text-align: center;
}

.featurecard:hover{
    background-color: #4f7ce4;
    color: #ffffff;
    padding: 20px;
    
}
.featurecard:hover svg{
    animation: animate 25s linear infinite;
    fill: #fff;
    
}

.aboutUs{
    height: 50vh;
    /* margin-top: 20rem; */
    display: flex;
    align-items: center;
    background-color: #000000;
    color: #fff;
}

.hero-aboutheader{
    
    font-family: 'helvetica neue';
    font-weight: 600;
    padding-top: 40px;
}

.faq{
    background-color: #0d6efd;
    color: aliceblue;
}
.faq .container{
    height: max-content;
    padding: 40px 0 40px;
    display: flex;
    align-items: center;
    text-align: center;

}
.faqans{
    display: none;
}
.faqqnns:hover .faqans{
    display:block;
}




/* CTA Section */
.cta-section {
    background-color: #ffffff;
    padding: 60px 20px;
    text-align: center;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cta-section h2 {
    font-size: 2.5rem;
    color: #1d1d1f;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .cta-section p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    color: #6e6e73;
  }
  
  .cta-section .cta-button {
    padding: 12px 40px;
    font-size: 1.2rem;
  }
  .cta-button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #0d6efd;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #005bb5;
    color: #ffffff;
  }


  
  footer{
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  footer .footer{
    padding-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }
  .footer .info{
    width: 20rem;
  }
  .footer .info span{
    font-size: small;
  }
  .footer .info .socials p{
    height: 2.5rem !important;
    width: 2.5rem !important;
    padding: 10px;
    /* border: 1px solid #1d1d1f; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  }
  .footer .info .socials p:hover{
    background-color: #a6a6a8;
  }
  .footer .footer-help{
    display: flex;
    flex-direction: column;
  }
  .footer .footer-help a{
    text-decoration: none;
    color: #1d1d1f;
  }

  .footer .footer-help a:hover{
    font-weight: 500;
  }



  
@media (max-width: 1200px){
    .section-brief{
        display: none;
    }
    .section-brief2{
        display: block;
    }
    .section-cards{
        display: none;
    }
    .section-cards2{
        display: flex;
        margin-top: 1rem;
       
    }
    .section-cards2 .card{
        margin-top: 1rem;
        background-color: #0d6efd;
        color: #ffffff;
    }
    .whyinterncify{
        display: flex;
        flex-direction: column !important;
    }
    .why-section-content{
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 992px) {
    .home{
        height: min-content;
    }
    .featurecards{
        display: grid;
        grid-template-columns: auto;
        padding: 20px;
        margin: 10px;
        gap: 20px;
    }
    .feature{
        
        height: min-content;
        /* color: #4f7ce4; */
        justify-content: center;
        align-items: center;
    }
    .featurecard svg{
        padding-right: 10px;
        /* color: #4f7ce4 !important; */
    }
    .aboutUs{
        height: min-content;
        padding-bottom: 50px;
    }

    .numericals{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10rem 0;
      }

}

@media (max-width: 767px){
    .section-cards{
        display: none;
    }
    .section-cards2{
        display: flex;
        flex-direction: column;
    }
    .section-cards .card{
        width: 80vw;
        justify-content: center;
        margin: 0;
        margin-top: 1rem;
    }
    .whyinterncify{
        display: flex;
        flex-direction: column !important;
    }
    .featurecard{
        width: 100%;
    }
    .why-section-content{
        display: flex;
        flex-direction: column;
        height: min-content !important;
    }
    .numericals{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10rem 0;
      }
      .left-image img{
        margin-right: 0px;
        margin-bottom: 5rem;
    }
    footer .footer{
        flex-direction: column-reverse;
        margin: 0.5rem;
    }
    footer .footer {
       
    }
    footer .footer .bar{
        border-top: 1px solid #1d1d1f;
        margin: 1rem 0;
    }
}
@media (max-width: 450px){
  .section-brief2{
    text-align: center;
  }
  .section-brief2 h3{
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
  }
  .section-brief2-heading{
    text-align: start !important;
  }
  .section-cards2 .card{
    margin-left: auto;
    margin-right: auto;
  }
  .section-brief-subpoints ul{
    padding-left: 0rem;    
  }
  .mb-3{
    text-align: justify;
  }
  .right-content{
    max-width: 90vw !important;
 }
 .left-image img{
    max-width: 90vw !important;
    height: 60vh !important;
    margin-bottom: 2rem !important;
 }
}