@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=M+PLUS+1+Code:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica Neue');

*{
    font-family: 'roboto','open sans';
}
/* @font-face {
    font-family: helvetica-neue;
    src: url(../assets/fonts/helvetica-neue-5/HelveticaNeueHeavy.otf);
  } */


.home{
    height: max-content;
}
.home .container{
    max-width: 800px;
    /* height: 100vh; */
}
.home .container>div{
    max-width: 800px;
    
}

.heroheader h1{
    font-size: 48px;
    font-weight: 700;
    max-width: 800px;
    font-family: 'helvetica neue','roboto';
}

.feature{
    background-color: #0d6efd;
    height: 100vh;
    color:aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
}

.featuresIcon{
    fill: aliceblue;
    width: 28px;
    height: 28px;
}

.grid{
    display: grid;
    
}

.featurecards{
    display: grid;
    grid-template-columns: auto auto;
    
    padding: 20px;
    margin: 30px;
    gap: 30px;
}

@media (max-width: 992px) {
    .home{
        height: min-content;
    }
    .featurecards{
        display: grid;
        grid-template-columns: auto;
        padding: 20px;
        margin: 10px;
        gap: 20px;
    }
    .feature{
        
        height: min-content;
        color:aliceblue;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .featurecard svg{
        padding-right: 10px;
    }
    .aboutUs{
        height: min-content;
        padding-bottom: 50px;
    }
}

.featurecard{
    background-color: #6991ed;
    padding: 30px;
}

.featurecard:hover{
    background-color: #4f7ce4;
    padding: 30px;
    
}
.featurecard:hover svg{
    animation: animate 25s linear infinite;
    
}

.aboutUs{
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero-aboutheader{
    
    font-family: 'helvetica neue';
    font-weight: 600;
    padding-top: 40px;
}

.faq{
    background-color: #0d6efd;
    color: aliceblue;
}
.faq .container{
    height: max-content;
    padding: 40px 0 40px;
    display: flex;
    align-items: center;
    text-align: center;

}
.faqans{
    display: none;
}
.faqqnns:hover .faqans{
    display:block;
}