.header-image{
    /* margin-top: 20rem; */
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../assets/images/wpbg/wpbg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    height: 40rem;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-image>div{
    margin: 0 5rem;
}
.publication-heading {
    max-width: 30%;
}
.publication-heading h1{
    font-size: 5rem;
    font-weight: 400;
}

.publication{
    margin-top: 7rem;
    max-width: 100vw;
}
.header-text{
    font-weight: 500;
    color: #2423238f;
}
h6{
    font-size: 1.2rem;
    font-weight: 500;
}
.description p{
    font-size: 0.9rem;
    color: #2423238f;
    font-weight: 500;
}
.title a{
    text-decoration: none;
    color: #000000;
  
}
a:hover h6{
    background-color: #1a73e83d;
    color: #1a73e8 !important;
    width: fit-content;
    transition: 0.2s ease-in-out;
}
.links{
    border-top: 1px solid #1f1f1f4b;
    padding-top: 2rem;
}
.links:hover{
    border-top: 1px solid #1f1f1f;
}
.links:hover h6{
    color: black;
    font-weight: 500;
}
.paper{
    border-left:1px solid #1f1f1f4b;
    padding-left: 2rem;
}

@media (max-width: 992px){
    .paper{
        margin: 0 !important;
        max-width: 100vw !important;
      }
      .publication-heading h1{
        font-size: 4rem;
        font-weight: 400;
    }
}

@media (max-width: 767px){
    .header-image{
        flex-direction: column;
        text-align:start ;
        background-position: right;
        height: max-content;
        padding-top: 10rem;
    }
    .publication-images img{
        display: none;
    }
    .publication-heading{
        max-width: fit-content;
    }
    .publication-heading h1{
        font-size: 3rem;
    }
    .paper{
    margin: 0 !important;
    max-width: 100vw !important;
  }
}